{% extends 'quotes/base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}?<?=filemtime('css/list.css');?>">
</head>
<div class="dropdown mb-2" style="width: 160px;">
    <a class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">Отсортировать</a>
    <ul class="dropdown-menu">
        <li class="nav-item"><a href="?sort=likes" class="btn btn-menu">по лайкам</a></li>
        <li class="nav-item"><a href="?sort=viewes" class="btn btn-menu">по просмотрам</a></li>
        <li class="nav-item"><a href="?sort=random" class="btn btn-menu">случайные</a></li>
    </ul>
</div>
<div>
    <div class="row text-center">
        {% for object in object_list %}
        <div>
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{% url 'quotes:detail' pk=object.id %}">
                        <h3>"{{ object.content|slice:20 }}..." - {{ object.source }}</h3>
                    </a>
                </div>
                <div class="stats-row">
                    <img src="{% static 'images/eye.svg' %}" alt="Просмотры" class="icon">
                    <span class="view-count">{{ object.viewed.count }}</span>
                    <div class="btn-group">
                        <button class="btn btn-success">
                            <img src="{% static 'images/like.svg' %}" alt="Лайк" class="icon">
                            <span>{{ object.likes.count }}</span>
                        </button>
                        <button class="btn btn-danger">
                            <img src="{% static 'images/dislike.svg' %}" alt="Дизлайк" class="icon">
                            <span>{{ object.dislikes.count }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination mb-2">
    {% if is_paginated %}
    <span>страница {{ page_obj.number }} из {{ paginator.num_pages }}</span>
    {% endif %}

    <div class="btn-group">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-primary"
           href="?page={{ page_obj.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">«
            предыдущая</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a class="btn btn-primary"
           href="?page={{ page_obj.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">следующая »</a>
        {% endif %}

        {% endif %}
        <a class="btn btn-primary" href="{% url 'quotes:homepage' %}">на главную</a>
    </div>
</div>
{% endblock %}